body{
	background: url(../common/img/bg.JPG);
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.signin {
	margin-top: 130px;
	height: 360px;
	padding: 0;
}
.signin-in {
	padding: 20px;
	width: 100%;
	height: 100%;
	background:white;
	border-radius: 3px;
	box-shadow: 0 0 15px rgba(0,0,0,.5);
}

form {
	margin-top: 30px;
	font-color: #676E7A;
	font-size: 14px;
}

.btn-primary {
	width: 100%;
	margin-top: 15px;
}
.signup-tip {
	margin-top: 15px;
}
.logo-container {
	margin-left: 50px;
    margin-top: 200px;
	color: white;
	font-size: 100px;
}

.logo-container img {
	height: 150px;
}