body {
	background-color: #FFFFFF;
    color: #4A5057
}
footer {
	background-color: #040303;

}
footer a {
	color: white;
}

.pointer {
    cursor: pointer;
}
.navbar-light, .bg-light {
	background-color: #FFFFFF!important;
}

.navbar-collapse {
    margin-left: 100px;
}

.side-bar {
    margin-top: 20px;
}
.nav-item {
    margin: 0 20px 0 20px;
    cursor: pointer;
}

.side-item {
    padding: 15px 15px 15px 30px;
}

.left-side-nav {
    padding-right: 0px;
}

.card {
    background: #FFFF;
    border: 0px;
}
.card-header{
    background: #FFFF;
    border: 0px;
}

.btn-primary {
    color: #fff;
    background-color: #48bf84;
    border-color: #48bf84;
}
.btn-primary:hover {
    color: #fff;
    background-color: #3aa771;
    border-color: #379d6a;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #EDF2EE;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(216, 236, 220);
}

.search-input {
	width: 300px!important;
}
.right-side-nav {
	background-color: #F4F8F5;
	height: 1000px;
}

.modal-body {
    padding: 20px 20px 0 20px;
}
