body {
	background-color: #FFFFFF;
    color: #4A5057
}
footer {
	background-color: #040303;

}
footer a {
	color: white;
}

.pointer {
    cursor: pointer;
}
.navbar-light, .bg-light {
	background-color: #FFFFFF!important;
    border-bottom: 1px solid rgba(0,0,0,.1);
}

.navbar-collapse {
    margin-left: 100px;
}

.nav-item {
    margin: 0 20px 0 20px;
    cursor: pointer;
}

.side-item {
    padding: 15px 15px 15px 30px;
}

.left-side-nav {
    padding-right: 0px;
}

.card {
    /*background: #FFFFFF;*/
    border: 0px;
}
.card-header{
    /*background: #FFFFFF;*/
    border: 0px;
}

.btn {
    font-size: 14px;
}
.btn-primary {
    font-size: 14px;
    color: #fff;
    background-color: #48bf84;
    border-color: #48bf84;
}
.btn-primary:hover {
    color: #fff;
    background-color: #3aa771;
    border-color: #379d6a;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #EDF2EE;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(216, 236, 220);
}

.search-input {
	width: 300px!important;
}
.right-side-nav {
	height: 1000px;
}

.modal-body {
    padding: 20px 20px 0 20px;
}

.dropdown-toggle::after {
    display: none;
}

#user-dropdown {
    margin-top: 23px;
    margin-left: -84px;
    border-radius: 3px;
}

.hide {
    display: none;
}

h4 {
    margin-left: 10px;
    margin-top: 15px;
}
